<div>
    <h1 class="page-header">
        <i class="fa fa-fw fa-gears fa-lg"></i>Settings
        <a class="pull-right" href="" ng-click="vm.add()"><i class="fa fa-plus-circle"></i></a>
    </h1>
</div>