@using Kenrapid.CRM.Web.Helpers
@model Kenrapid.CRM.Web.Models.ChangePasswordForm
@{
    ViewBag.Title = "Change Password";
    var changePassword = Html.Angular().ModelFor("vm.changePassword");
}

<h3 class="page-header">
    <i class="fa fa-fw fa-key fa-lg"></i>Change Your Password
</h3>

<div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
    <form novalidate
          ng-controller="changePasswordController as vm"
          ng-submit="vm.form.$valid && vm.save()"
          name="vm.form" autocomplete="off">
        <fieldset ng-disabled="vm.saving">
            <div class="row marginbot-5">
                <div class="alert-container"></div>
            </div>
            <div class="alert alert-info" ng-hide="vm.errorMessage != null">
                Enter your current password, new password and confirm new password.
            </div>
            <div class="alert alert-danger" ng-show="vm.errorMessage != null">
                {{vm.errorMessage}}
            </div>
            <div>
                @*<div class="row">
                        <div class="col-md-12 col-xs-12">
                            @changePassword.FormGroupNewFor(x => x.CurrentPassword)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            @changePassword.FormGroupNewFor(x => x.Password)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            @changePassword.FormGroupPasswordTextBoxFor(x => x.ConfirmedPassword, "vm.changePassword.password")
                        </div>
                    </div>*@


                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div form-group-validation="currentPassword" class="form-group has-feedback">
                            <label for="currentPassword" class="control-label">
                                Current Password
                            </label>
                            <input type="password" placeholder="Current Password..."
                                   id="currentPassword" name="currentPassword" ng-model="vm.changePassword.currentPassword"
                                   required="required" class="form-control" autocomplete="off" value="" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div form-group-validation="password" class="form-group has-feedback">
                            <label for="password" class="control-label">Password</label>
                            <input type="password" placeholder="Password..." id="password"
                                   name="password" ng-model="vm.changePassword.password" required="required" class="form-control" autocomplete="off" value="" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div form-group-validation="confirmedPassword" class="form-group has-feedback">
                            <label for="confirmedPassword" class="control-label">
                                Confirmed Password
                            </label>
                            <input type="password" id="confirmedPassword"
                                   name="confirmedPassword"
                                   ng-model="vm.changePassword.confirmedPassword"
                                   match="vm.changePassword.password" placeholder="Confirmed Password..."
                                   class="form-control" required="required" autocomplete="off" value="" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-danger">Change Password</button>
                <button type="button" class="btn btn-warning" ng-click="$parent.$dismiss()">Cancel</button>
            </div>

        </fieldset>
    </form>
</div>

