@{
    ViewBag.Title = "Orders";
}

<div>
    <h3 class="page-header">
        <i class="fa fa-fw fa-tasks fa-lg"></i> Orders
        <a class="pull-right" href="" ng-click="vm.add()"><i class="fa fa-plus-circle"></i></a>
    </h3>    
</div>
