@using Kenrapid.CRM.Web.Helpers
@model Kenrapid.CRM.Web.Models.Color.EditColorForm
<form novalidate
	  ng-submit="vm.form.$valid && vm.save()"
	  name="vm.form">
	<fieldset ng-disabled="vm.saving">

		<div class="modal-header">
			<h3 class="modal-title">Edit Color</h3>
		</div>

		<div class="modal-body">

			<div class="alert alert-info" ng-hide="vm.errorMessage != null">
				Enter details for the color.
			</div>
			<div class="alert alert-danger" ng-show="vm.errorMessage != null">
				{{vm.errorMessage}}
			</div>

            @Html.Angular().FormForModel("vm.editColor")		

		</div>

		<div class="modal-footer">
			<button class="btn btn-danger">Update Color</button>
			<button type="button" class="btn btn-warning" ng-click="$parent.$dismiss()">Cancel</button>
		</div>

	</fieldset>
</form>